/* fonts imported */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#link-navbar,
#link-item-action,
#link-news,
#link-item-service,
#link-sponsor {
  color: rgb(50, 60, 61);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  border: none;
}

/* Navegation bar */
.nav-bar {
  display: flex;
  height: 115px;
  width: calc(100% - 15px - 15px);
  padding-left: 15px;
  padding-right: 15px;

  background-color: #ffffff;
}

.nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-logo {
  height: 52px;
}

#ul-navbar {
  margin: 0%;
  margin-top: 5px;
  padding: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 52%;
  height: 70px;
}

#link-navbar:hover {
  color: #4da094;
  font-weight: 600;
  transition: 0.2s;
}
.icon-caret-down {
  margin-left: 4px;
}

.links-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 230px;
}

.item-social {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.item-social:hover {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: 0.2s;
}
.item-social-search {
  background-color: #ff6600;
}
.item-social-facebook {
  background-image: url(./assets/img/Imagen-facebook.png);
  background-size: cover;
}
.item-social-twitter {
  background-image: url(./assets/img/Imagen-twitter.png);
  background-size: cover;
}
.item-social-instagram {
  background-image: url(./assets/img/instagram_logo.png);
  background-size: cover;
}
.item-social-youtube {
  background-image: url(./assets/img/youtube-logo.png);
  background-size: cover;
}
.nav-logo-responsive {
  display: none;
  width: auto;
  height: auto;
}
/* Navegation bar responsive */
#btn-menu {
  display: none;
}

#button-burger {
  width: 100%;
  height: 100%;
  background-image: url(./assets/img/lines_menu_burger_icon_123889.png);
  background-size: cover;
  border: none;
}

header button {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
}

header button:hover {
  cursor: pointer;
}

/* Slider  */

.hero {
  width: 100%;
}
.container-slider {
  height: 488px;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 500px) {
  .container-slider {
    height: 150px;
    margin-bottom: 30px;
  }
  .links-navbar-footer {
    margin-top: 30px;
  }
}

.slider {
  height: 100%;
  width: 500%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -100%;
}
.slider-section {
  width: 100%;
}
.slider-img {
  object-fit: cover;
  display: block;
  height: 100%;
  width: 100%;
}

.slider-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: 0px;
  border-radius: 50%;
}
.slider-btn:hover {
  width: 55px;
  height: 55px;
  transition: 0.2s;
}
.slider-btn-left {
  left: 50px;
  margin-bottom: 0px;
}
.slider-btn-right {
  right: 50px;
}

.list-actions {
  row-gap: 10px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
}
.item-action {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-actions {
  padding-top: 18px;
  display: flex;
  align-items: center;
  min-height: 195px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
}

.image-item-action {
  width: 58px;
  height: 58px;
  border-radius: 50%;
}
.image-item-action-portal-transaccional {
  background-image: url(./assets/img/ListActions/Imagen-portal-transaccional.png);
  background-size: cover;
}
.image-item-action-sucursal-virtual {
  background-image: url(./assets/img/ListActions/Imagen-sucursal-virtual.png);
  background-size: cover;
}
.image-item-action-credito-en-linea {
  background-image: url(./assets/img/ListActions/Imagen-crédito-en-línea.png);
  background-size: cover;
}
.image-item-action-simulador-de-ahorros {
  background-image: url(./assets/img/ListActions/Imagen-simulador-de-ahorro.png);
  background-size: cover;
}
.image-item-action-simulador-de-crédito {
  background-image: url(./assets/img/ListActions/Imagen-simulador-de-crédito.png);
  background-size: cover;
}
.image-item-action-red-de-aliados {
  background-image: url(./assets/img/ListActions/Imagen-red-de-aliados.png);
  background-size: cover;
}
.image-item-action-como-asociarme {
  background-image: url(./assets/img/ListActions/Imagen-como-asociarme.png);
  background-size: cover;
}
.image-item-action-formulario-pqrsf {
  background-image: url(./assets/img/ListActions/Imagen-formulario-pqrs.png);
  background-size: cover;
}

.text-item-action {
  width: 118px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 600;
  margin: 0%;
  margin-top: 15px;
}

/* News  */

.news {
  width: 100%;

  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-title-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(138px - 10px);
  padding-top: 20px;
}
.wrapper-target {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}
.title-news {
  color: #ff6600;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -2px;
  text-align: center;
  margin: 0%;
}

.description-news {
  text-align: center;
  font-size: 18px;
  margin: 0%;
  margin-top: 4px;
  color: #4e5960;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}

.slider-news {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#link-news {
  margin-bottom: 15px;
}

.list-slider {
  gap: 82px;
  margin: 0%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  min-height: 570px;
  justify-content: space-between;
  justify-content: center;

  padding: 0%;
}

.carousel-indicators-news {
  gap: 10px;
  height: 80px;
}

.img-target {
  border-radius: 25px;
  width: 295px;
  height: 285px;
}
.img-target-1 {
  background-image: url(./assets/img/im1-slider2.png);
  background-size: cover;
}
.img-target-2 {
  background-image: url(./assets/img/im2-slider2.png);
  background-size: cover;
}
.img-target-3 {
  background-image: url(./assets/img/im3-slider2.png);
  background-size: cover;
}

.content-target {
  padding-top: 30px;
  width: 250px;
  background-color: #ffffff;
}

.description-content-target {
  margin-bottom: 4px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.date-target {
  color: #a2a2a2;
  margin: 0%;
}

.icon-category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 23px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 10px;
  color: #ffffff;
  background-color: #ff6d00;
}
.icon-category-agend {
  background-color: #00794d;
}
.content-description-target {
  margin: 0%;
  width: 240px;
  margin-top: 7px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #4d575f;
  font-size: 18px;
  text-overflow: clip;
}

.footer-news-section {
  width: 100%;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  row-gap: 15px;

  justify-content: center;
  justify-content: space-between;
  max-width: 1050px;
  margin-bottom: 25px;
  width: 100%;
  min-height: 80px;
  bottom: 0px;
}

.wrapper-indicators {
  margin-top: 10px;
  display: flex;
}
.img-indicators {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url(./assets/img/query_stats_FILL0_wght400_GRAD0_opsz48.png);
}
.text-indicators {
  margin: 0%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #4d575f;
  font-size: 17px;
  font-weight: 500;
}

.see-all-publications {
  display: flex;
  align-items: center;
  height: 50px;
  width: 291px;
  background: linear-gradient(to bottom right, #d6e8c2, #b3d9c7);
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.img-save {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-image: url(./assets/img/save.png);
}
.link-see-all-publications:hover {
  opacity: 0.7;
  transition: 0.2s;
}
.text-see-all-publications {
  margin: 0%;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  color: #235e55;
  font-size: 18px;
  font-weight: 400;
}
.img-pointer {
  position: absolute;
  margin-bottom: -50px;
  margin-left: 235px;
  width: 40px;
  height: 40px;
  background-image: url(./assets/img/pointer.png);
  background-size: cover;
}

/* Our services  */
.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-image: url(./assets/img/Untitled.png);
}

.wrapper-items-services {
  align-items: center;
  width: 100%;
  min-height: 100px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.wrapper-title-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(140px - 10px);
  padding-top: 80px;
}

.title-services {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -2px;
  text-align: center;
  margin: 0%;
  width: 100%;
}

.description-services {
  text-align: center;
  width: 100%;
  font-size: 18px;
  margin: 0%;
  margin-top: 8px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  max-width: 700px;
}

.items-services {
  column-gap: 92px;
  max-width: 1020px;
  margin: 0%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  justify-content: center;

  padding: 0%;
  flex-wrap: wrap;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-service {
  fill: #ffd2a7;
}
.text-item-service {
  margin: 0%;
  margin-top: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #ffd2a7;
  font-weight: 600;
  font-size: 13px;
}

.container-content-our-services {
  max-width: 1200px;
  min-height: 550px;
  background-color: #ffffff;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 10px;
  border-radius: 25px;
  margin: 0%;
  margin-top: 15px;
  overflow: hidden;
  margin-bottom: 58px;
}

.wrapper-title-container-services {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
}
.title-container-services {
  color: #00794d;
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: -2px;

  margin: 0%;
}

.text-container-services {
  margin: 0%;
  font-family: "Roboto", sans-serif;
  color: #4d575f;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 22px;
}
.wrapper-content-container {
  display: grid;
  height: auto;
  grid-template-columns: 50% 50%;
}

.img-container-services {
  width: 100%;
  height: 80%;
  background-image: url(./assets/img/Imagen-container-services.png);
  background-size: cover;
}

.container-advertising {
  display: grid;
  align-items: center;
  gap: 15px;
  grid-template-columns: 170px 1fr;
}
.img-advertising {
  width: 170px;
  height: 170px;
  background-image: url(./assets/img/logo-fogacoop-sin-fondo.png);
  background-size: cover;
}
.advertising {
  margin: 0%;
  font-family: "Roboto", sans-serif;
  color: #4d575f;
  font-size: 18px;
  letter-spacing: 1px;
}
.features-services {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.icon-feature {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-image: url(./assets/img/flecha.png);
  background-size: cover;
}
.features {
  margin: 0%;
  font-family: "Roboto", sans-serif;
  color: #4d575f;
  font-size: 18px;
  letter-spacing: 1px;
}
#carousel-indicators {
  column-gap: 10px;
  position: initial;
  margin-bottom: 0%;
  margin-top: 1rem;
  margin-bottom: 20px;
}
#button-carousel-indicators {
  border-radius: 50%;
  margin: 0%;
  height: 10px;
  width: 10px;
  background-color: #292626;
}

/* Options  */
.options {
  display: flex;
  justify-content: center;
  width: 100%;
}
.wrapper-options-container {
  gap: 53px;
  height: auto;
  max-width: 1037px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
}

.image-card {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  width: 310px;
  height: 195px;
  border-radius: 30px;
  background-size: cover;
}

@media (max-width: 1064px) {
  #button-burger {
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
  }
  #ul-navbar {
    display: none;
  }
  .image-card {
    margin-top: 20px;
  }
  .other-options {
    row-gap: 10px;
  }
  .links-navbar-footer {
    margin-top: 30px;
  }
  .content-footer {
    row-gap: 15px;
  }
  .our-services {
    background-color: #3a4545;
    background-image: none;
  }
  .description-services {
    color: #aecdd2;
  }
  .item-service {
    width: 80px;
  }
  .news {
    margin-top: 20px;
  }
  .news,
  .content-target {
    background-color: #f3f9f8;
  }
  .title-news {
    color: rgb(20 35 75);
  }
  .date-target {
    color: #261f99;
  }
  .content-description-target {
    color: #06121b;
  }
  .list-actions {
    row-gap: 20px;
    column-gap: 25px;
  }
  .list-slider {
    gap: 30px;
  }
  .wrapper-options-container {
    gap: 30px;
  }
  .wrapper-content-container {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .container-content-our-services {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 25px -25px);
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
    border-radius: 0px 0px 0px 0px;
  }
  #btn-left {
    left: 10px;
  }
  #btn-right {
    right: 10px;
  }
  .container-advertising {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .footer-news-section {
    justify-content: center;
    width: 100%;
    position: inherit;
  }
  #carousel-indicators-news {
    height: 50px;
    margin-bottom: 0%;

    position: inherit;
  }  
  .nav-bar {
    height: auto;
  }
  .nav-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .nav-logo {
    justify-content: space-between;
    width: 100%;
  }

  .links-navbar {
    display: none;
  }
  #ul-navbar {
    display: flex;
    flex-direction: column;
    display: none;
    height: 100%;
    width: 100%;
  }
  #ul-navbar li {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-footer {
    height: 100px;
  }
  .wrapper-sponsors {
    row-gap: 15px;
  }
  .wrapper-items-services{
    margin-bottom: 30px;
  }
}

.subtitle-card {
  width: 70%;
  color: #ffffff;
  margin: 0%;
  margin-bottom: 20px;
  margin-left: 25px;
  font-size: 20px;
}
.icon-card {
  fill: #ffffff;
  margin-top: 20px;
  margin-left: 25px;
}

.image-card-1 {
  background-image: url(./assets/img/jovenes-multirraciales-juntando-manos-espiritu-equipo_386185-345.webp);
}
.image-card-2 {
  background-image: url(./assets/img/450_1000.jpg);
}
.image-card-3 {
  background-image: url(./assets/img/oficina-virtual.jpeg);
}

/* Sponsors  */
.wrapper-sponsors {
  max-width: 1330px;
  column-gap: 50px;
  min-height: 110px;
  padding-left:10px;
  padding-right: 10px;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.link-sponsor {
  opacity: 0.8;
}
.link-sponsor:hover {
  opacity: 100;
}
.sponsor-image-valueRisk {
  background-image: url(./assets/img/sponsors/valueriskrating.png);
  background-size: cover;
  height: 50px;
  width: 200px;
}
.sponsor-image-superSolidaria {
  background-image: url(./assets/img/sponsors/logo_supersolidaria.png);
  background-size: cover;
  height: 60px;
  width: 180px;
}
.sponsor-image-fogagoop {
  background-image: url(./assets/img/sponsors/seguro-deposistos.jpg);
  background-size: cover;
  height: 80px;
  width: 100px;
}
.sponsor-image-visionamos {
  background-image: url(./assets/img/sponsors/logo-visionamos.png);
  background-size: cover;
  height: 55px;
  width: 150px;
}
.sponsor-image-coopcentral {
  background-image: url(./assets/img/sponsors/sellosomosred1.png);
  background-size: cover;
  height: 60px;
  width: 150px;
}
.sponsor-image-visa {
  background-image: url(./assets/img/sponsors/atm-locator.png);
  background-size: cover;
  height: 60px;
  width: 190px;
}
/* Footer  */
footer {
  width: 100%;
  height: auto;
  border-top: solid 2px #80858930;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.content-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  margin-top: 55px;
}
.img-logo-footer {
  width: 50px;
  height: 42px;
  background-image: url(./assets/img/logo-coomudelsa.png);
  background-size: cover;
}
.contact-us-footer,
.direction-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 325px;
}
.title-direction-footer,
.title-contact-us {
  font-family: "Poppins", sans-serif;
  color: #ff6600;
  margin: 0%;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 700;
}
.text-direction,
.text-contact-us {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  color: #262a2d;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.links-navbar-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 285px;
}

.item-social-footer {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.other-options {
  min-height: 100px;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 75px;
  justify-content: center;
  margin-top: 30px;
}
.text-option {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin: 0%;
}
.option {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
}
.img-option {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.img-option-1 {
  background-image: url(./assets/img/icons-other-options/icon1.png);
  background-size: cover;
}
.img-option-2 {
  background-image: url(./assets/img/icons-other-options/icon2.png);
  background-size: cover;
}
.img-option-3 {
  background-image: url(./assets/img/icons-other-options/icon3.png);
  background-size: cover;
}
.img-option-4 {
  background-image: url(./assets/img/icons-other-options/icon4.png);
  background-size: cover;
}
.img-option-5 {
  background-image: url(./assets/img/icons-other-options/icon5.png);
  background-size: cover;
}
